nav {
    padding: 1em;
    font-family: font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: rgba(123,198,199,0.8);
  }
  nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
  }
  nav li a:hover {
    background: rgb(151, 71, 255);
    color: white;
  }

  @media screen and (min-width: 480px) {
    nav ul {
      display: flex;
    }
  }